<h1>新增</h1>

<%= form_for(@post, url:book_posts_path(@book)) do |form| %>

<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<div>
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>
<div>
  <%= form.submit %>
</div>



<% end %>